<h1>Administrador</h1>

<ul>
  <li><%= link_to "Ver Mapas", show_map_path %></li>
  <li><%= link_to "Crear Mapas", create_map_path %></li>
  <li><%= link_to "Editar Mapas", edits_map_path %></li>
</ul>
