/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap_and_overrides.scss";
  @import "variables.scss";


   /* !General */

   html, body {
     height: 100%;
   }

   body {
     font-family: $main_font;
     font-weight: 100;
     background: #f8fafd;
     padding: 0;
   }

  /* !Footer */

  footer .navbar .nav > li > a {
    font-size: 13px;
    padding: 6px 40px 0 0;
  }

  .footer {
    height: $footer-height - 16px;
    padding: 10px 0 6px;
    color: #eeeeee;
    margin-top: 39px;
  }

  #main-container {
   position: relative;
   padding-top: 50px;
   padding-bottom: 50px;
  }
