// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require_self

 @import "bootstrap_and_overrides.css.scss";
 @import "variables.css.scss";


 /* !General */

 html, body {
   height: 100%;
 }

 body {
   font-family: $main_font;
   font-weight: 100;
   background: #f8fafd;
   padding: 0;
 }

 .wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -1*($topbar-height + $footer-height - 31px);
 }

 /* !Header */


.navbar-fixed-top {
  position: static;
}

.navbar-inner {
  background: transparent;
  box-shadow: none;
  padding-top: 15px;
  /*background: url('/assets/images/header_texture.png');*/
  background: $main_orange;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

header.navbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar .brand {
  text-indent: -9999px;
  height: 34px;
  width: 100%;
  margin: 0;
  padding: 0;
}

header.navbar .nav {
  padding: 2px 0 10px;
  background-repeat: no-repeat;
  background-position: 0 -150px;
  min-width: 360px;
  min-height: 40px;
  width: auto;
}

header.navbar .nav.passenger {
  background-position: 0 0;
}

header.navbar .nav.driver {
  background-position: 0 -75px;
}

header.navbar .nav.friends {
  background-position: 0 -225px;
}

header.navbar .nav > li {
  width: 120px;
}

header.navbar .pull-right {
  margin: 0;
}

header.navbar .pull-right .facebook-connect {
  padding: 8px 16px;
  background: none;
  background: #3D372D;
  color: white;
  line-height: 18px;
  text-shadow: none;
}

header.navbar .pull-right .dropdown-toggle {
  margin-top: 7px;
  font-weight: 100;
}

.navbar .nav > li > a {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #f9f7f2;
  font-family: $header_font;
  font-size: 18px;
  font-weight: normal;
  padding: 9px 20px 11px;
  text-align: center;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus {
  color: white;
}

strong {
  font-weight: 400;
}

/* !Footer */

footer .navbar .nav > li > a {
  font-size: 13px;
  padding: 6px 40px 0 0;
}

.footer {
  height: $footer-height - 16px;
  padding: 10px 0 6px;
  color: #eeeeee;
  margin-top: 39px;
}
