/* Colors */


/* Boxes */
$topbar-height: 0px;
$footer-height: 50px;
$boxes_margin: 8px;
$boxes_shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);


/* Fonts */
$header_font:  "museo-sans", sans-serif;
$script_font: "raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$main_font: "depot-new-web", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$generic_font: "Helvetica Neue", Helvetica, Arial, sans-serif;
