<!-- Footer -->
<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <img src="/assets/logo-eps.png" width="100px"/>
        </li>
      </ul>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://www.tcs.com"> tcs.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
