<div class="row-fluid">
  <div class="span3">
    <%= link_to "Tatapp26", root_path, :class => 'brand' %>
  </div>
  <div class="span6">
  </div>
  <div class="span3">
    <div class="btn-group pull-right">
    <% if current_user %>
      <span><%= current_user.name %></span>
      <span><%= link_to t('logout'), logout_path, :method=>'get', :target => target %></span>
    <% end %>
    </div>
  </div>
</div>
